<h1><%= title %></h1>
<a href="/new">Add New Message</a>
<hr>
<ul>
  <% messages.forEach((msg) => { %>
    <li>
      <strong><%= msg.user %></strong>: <%= msg.text %> 
      <small>(<%= msg.added.toDateString() %>)</small>
      <a href="/message/<%= msg.id %>">Open</a>
    </li>
  <% }) %>
</ul>

<%- include('footer') %>